.additional-products {
  outline: 2px dashed $green;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.additional-products__container {
  padding: 0;
}

.additional-products__item p {
  outline: 2px dashed $blue;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
}

.additional-product__info {
  outline: 2px dashed $blue;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
}

.additional-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
.additional-products__container {
  @media (min-width: $desktop-width) {
    width: 895px;
    //float: left;
  }
}
*/

@media (min-width: $desktop-width) {
  .additional-products-and-special-offer__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .additional-products__container {
    width: 895px;
  }

  .special-offer {
    width: 245px;
  }
}
