.additional-products h2 {
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  padding: 25px 0 0 0;
  margin: 0 0 35px 0;
}

.additional-products__item {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 20px;
}

.additional-products__item:last-child {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.additional-products__item p {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
}

.additional-product__info {
  display: flex;
  justify-content: space-between;
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
}

.additional-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .additional-products-and-special-offer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-products__container {
    width: 895px;
  }

  .special-offer {
    width: 245px;
  }
}
