// .contacts {
//   padding: 0;
//   margin-left: auto;
//   margin-right: auto;

//   @media (min-width: $desktop-width) {
//     position: relative;
//   }
// }

.catalog .contacts-details-wrapper {
  background-color: $basic-grey;
}

.form .contacts-details-wrapper {
  background-color: $basic-grey;
}

.map-contacts-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 0 26px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 40px 62px 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background-color: $white;
    min-height: 198px;
    width: 565px;
    padding: 0;

    padding: 56px 80px 62px 80px;
    margin: 0;
    z-index: 2;
  }
}

.map-contacts-details p {
  font-family: $main-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map-contacts-details address {
  font-family: $second-font;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}
