.features__title {
  color: $dark;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}

.features__item--slim h3 {
  margin: auto auto auto 20px;

  @media (min-width: $tablet-width) {
    margin: auto auto auto 0;
  }
}

.features__item--pro h3 {
  margin: auto auto auto 29px;

  @media (min-width: $tablet-width) {
    margin: auto auto auto 0;
  }
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.features__list a {
  color: $dark;
}

.features__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px auto 25px;

  background-color: $basic-grey;
  width: 100%;
  margin-bottom: 20px;
  padding: 24px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 268px;
    grid-template-rows: 36px auto 38px;
    padding: 77px 28px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.features__item:first-child {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.features__item:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.features__item--slim__icon,
.features__item--pro__icon {
  display: block;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.features__item p {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  padding-bottom: 23px;

  @media (max-width: $mobile-width-only) {
    border-bottom: solid 2px $dark-grey;
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    padding-right: 20px;
  }
}

.features__item a {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

.features__item picture {
  @media (min-width: $tablet-width) {
    margin: auto;
  }
}

.features__link {
  vertical-align: middle;
  text-align: center;
}

.features__link img {
  display: inline-block;
  margin-left: 15px;
}
