.features__container {
  outline: 2px dashed $red;
  // margin: 20px 20px 0 20px;
}

.features__title {
  color: $dark;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.features__list a {
  color: $dark;
}

.features__item {
  background-color: $grey;
  //width: 280px;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: $desktop-width) {
  .features__item {
    margin-bottom: 0;
  }

  .features__item:first-child {
    margin-right: 80px;
  }
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.features__item a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
