.page-footer {
  background-color: $basic-grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $dark-grey;
  }

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 60px;
  }
}

.page-footer__social {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $dark-grey;
  }
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  padding: 20px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 58px;
  }
}

.vkontakte__icon {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.instagram__icon {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-link--facebook img {
  width: 22px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.vkontakte__icon,
.instagram__icon,
.facebook__icon {
  &:hover path {
    fill: $basic-green;
  }

  &:active path {
    fill: $basic-green;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  padding: 22px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.page-footer__copyright a {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;

  color: $special_dark-grey;
  font-family: $second-font;
  font-size: 16px;

  &:hover {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }
}

.page-footer__copyright img {
  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}

.copyright__link {
  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}

.copyright__link--academy {
  &:hover {
    fill: $basic-green;
  }
}
