/*
.page-header__container {
  outline: 2px dashed $red;
  margin: 10px 20px 20px 20px;
}
*/

.page-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
}

.page-header__logo {
  outline: 2px dotted $pink;
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.main-nav {
  outline: 2px dashed $green;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__list {
  outline: 2px dashed $blue;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list a {
  color: $black;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    width: 710px;
    margin: 0 auto;
  }

  .main-nav__container {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0 auto;
  }

  .main-nav__toggler {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: 1220px;
  }

  .main-nav__container {
    width: 478px;
  }
}
