.product-details__container {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.product-details__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px 0;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}

.product-details__list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}

.product-details__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 250px;
    min-height: 280px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-details__item:nth-child(odd) {
  @media (min-width: $tablet-width) {
    margin-right: 137px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.product-details__item:nth-child(even) {
  @media (min-width: $tablet-width) {
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.product-details__item:last-child {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.product-details__item svg {
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.product-details__item p {
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 0 0 20px;
  margin: auto 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 30px 0 0 0;
  }
}

.product-details__item--healthy {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/1.png");
    background-repeat: no-repeat;
    background-position: 140px;
  }
}

.product-details__item--easy {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/2.png");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.product-details__item--saving {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/3.png");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.product-details__item--swiftly {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/4.png");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.product-details__item--background {
  display: none;
}
