.promo {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 640px;
  }
}

.promo .button {
  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;
    position: relative;
    bottom: 580px;
    left: 88px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    bottom: 445px;
    left: 190px;
  }
}

.promo__container {
  background-image: url("../img/Rectangle-18.png"),
    url("../img/index-background-mobile.png");
  background-position: center, center;
  background-repeat: repeat, no-repeat;

  @media (max-width: $mobile-width-only) {
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.promo__intro {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 25px;
  margin: 0 auto 0 auto;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    padding: 60px 0 0 88px;
    margin: 0 auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.promo__slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  margin: 0 auto 25px auto;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    padding: 40px 0 0 88px;
    margin: 0 auto 20px auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.promo__can-mobile img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile-width-only) {
    margin-top: -135px;
  }

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -260px;
    left: 100px;
    width: 552px;
    height: 499px;
  }
}

.promo_button {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}
