.special-offer {
  outline: 2px dotted $blue;

  background-color: rgba(104, 183, 56, 0.85);
}

.special-offer__container {
  background-image: url("../../img/catalog-special-offer_backpack.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
