.special-offer {
  min-height: 290px;
}

.special-offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  min-height: 290px;

  background-image: url("../img/catalog-special-offer_Rectangle-17_catalog_mobile.png"),
    url("../img/catalog-special-offer_backpack_mobile.png");
  background-position: center, center;
  background-repeat: repeat, no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/catalog-special-offer_Rectangle-17_catalog_mobile@2x.png"),
      url("../img/catalog-special-offer_backpack_mobile@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog-special-offer_Rectangle-18_catalog_tablet.png"),
      url("../../img/catalog-special-offer_backpack_tablet.png");
    background-position: center, center;
    background-repeat: repeat, no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/catalog-special-offer_Rectangle-18_catalog_tablet@2x.png"),
        url("../img/catalog-special-offer_backpack_tablet@2x.png");
      background-size: 707px auto;
    }

    flex-direction: row;
    justify-content: space-around;
    min-height: 200px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog-special-offer_Rectangle-19_catalog_desktop.png"),
      url("../img/catalog-special-offer_backpack_desktop.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/catalog-special-offer_Rectangle-19_catalog_desktop@2x.png"),
        url("../img/catalog-special-offer_backpack_desktop@2x.png");
      background-size: 245px auto;
    }

    flex-direction: column;
    justify-content: center;
    min-height: 288px;
    margin: 105px 0 0 0;
  }
}

.special-offer-container img {
  margin-bottom: 55px;
}

.icon-gift {
  width: 78px;
  height: 80px;
  background-image: url("../../img/catalog-special-offer_icon-gift__mobile.svg");

  @media (max-width: $mobile-width-only) {
    margin: 55px 0 55px 0;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 82.5px;
    background-image: url("../../img/catalog-special-offer_icon-gift__tablet.svg");
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.special-offer-container p {
  width: 161px;
  text-align: center;
  margin: 0;
}
