* {
  box-sizing: border-box;
}

.page__body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $white;
  color: $black;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-container {
  outline: 2px dashed $pink;
  max-width: 1440px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    background-image: url("../img/Rectangle-18.png"),
      url("../img/index-background-desktop-1.png");
    background-position: 720px 0, 720px 0;
    background-size: 720px 694px, 720px 694px;
    background-repeat: no-repeat, no-repeat;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

a {
  text-decoration: none;
}

.button {
  display: block;
  color: $white;
  text-transform: uppercase;
  background-color: $basic-green;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  padding: 15px 0;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}
