$main-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", sans-serif;

$red: #ff0000;
$pink: #ff00ff;
$green: #008000;
$blue: #0000ff;
$dark: #000000;
$basic_grey: #f2f2f2;
$grey: #d9d9d9;

$tablet-width: 768px;
$desktop-width: 1440px;
